.App {
  text-align: center;
  background-color: whitesmoke;
  min-height: 100vh;
}
.App h1 {
  margin: 0;
  padding: 2rem;
}
.container {
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
  padding: 0 1rem;
}

.all-phone-list,
.phone-details {
  max-width: 50vw;
  padding: 1rem;
  background-color: white;
  border-radius: 15px;
}

.all-phone-list{
  min-width: fit-content;
}

.all-phone-list ul {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 50vh;
}

footer {
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  color: darkgrey;
}

footer p {
  margin: 0;
  padding: 1rem;
}